@model IEnumerable<AppLogisticsModel.Service>

@{
    ViewBag.Title = "Listado Servicios";
}

<h2>@ViewBag.Title</h2>

<table class="table table-striped table-hover table-condensed table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExecutionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClientAreaId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExternalId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoldingPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Carrier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VehicleType)
        </th>
        <th>@Html.Label("Acciones")</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExecutionDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClientAreaId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExternalId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoldingPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activity.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carrier.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VehicleType.Name)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "btn btn-primary btn-xs" }) |
            @Html.ActionLink("Borrar", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-xs" })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Crear nuevo", "Create", null, new { @class = "btn btn-primary" })
</p>
