@model AppLogisticsModel.Product

@{
    ViewBag.Title = "Borrar Producto";
}

<h2>@ViewBag.Title</h2>

<h3>Está seguro de borrar este elemento?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver al listado", "Index", null, new { @class = "btn btn-info" })
        </div>
    }
</div>
