<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - APP Logistics</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <!-- Static navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Cambiar navegación</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="">APP Logistics</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" && ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")">@Html.ActionLink("Inicio", "Index", "Home")</li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Employees" ? "active" : "")">@Html.ActionLink("Empleados", "Index", "Employees")</li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Services" ? "active" : "")">@Html.ActionLink("Servicios", "Index", "Services")</li>
                        <li class="dropdown @("Clients, BranchOffices, ClientAreas, Rates, Activities, VehicleTypes, Products, Carriers, AFPs, EPS, MaritalStatus".Contains(ViewContext.RouteData.Values["Controller"].ToString()) ? "active" : "")">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Configuración<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">Empresas</li>
                                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Clients" ? "active" : "")">@Html.ActionLink("Clientes", "Index", "Clients")</li>
                                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "ClientAreas" ? "active" : "")">@Html.ActionLink("Áreas", "Index", "ClientAreas")</li>
                                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "BranchOffices" ? "active" : "")">@Html.ActionLink("Sucursales", "Index", "BranchOffices")</li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Operación</li>
                                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Rates" ? "active" : "")">@Html.ActionLink("Tarifas", "Index", "Rates")</li>
                                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Activities" ? "active" : "")">@Html.ActionLink("Actividades", "Index", "Activities")</li>
                                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "VehicleTypes" ? "active" : "")">@Html.ActionLink("Tipos de vehículo", "Index", "VehicleTypes")</li>
                                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Products" ? "active" : "")">@Html.ActionLink("Productos", "Index", "Products")</li>
                                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Carriers" ? "active" : "")">@Html.ActionLink("Transportadoras", "Index", "Carriers")</li>
                                <li role="separator" class="divider"></li>
                                <li class="dropdown-header">Parámetros de personal</li>
                                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "AFPs" ? "active" : "")">@Html.ActionLink("AFPs", "Index", "AFPs")</li>
                                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "EPS" ? "active" : "")">@Html.ActionLink("EPSs", "Index", "EPS")</li>
                                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "MaritalStatus" ? "active" : "")">@Html.ActionLink("Estados civiles", "Index", "MaritalStatus")</li>
                            </ul>
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" && ViewContext.RouteData.Values["Action"].ToString() == "About" ? "active" : "")">@Html.ActionLink("Nosotros", "About", "Home")</li>
                        <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" && ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "active" : "")">@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.Partial("_LoginPartial")</li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
        </nav>

        @RenderBody()

        <footer class="footer">
            <br />
            <p>&copy; @DateTime.Now.Year -  APP Logistics</p>
        </footer>
    </div>

    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("App Logistics", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                        <li>@Html.ActionLink("EPSs", "Index", "EPS")</li>
                        <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                        <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - App Logistics</p>
            </footer>
        </div>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
