@model AppLogisticsModel.Employee

@{
    ViewBag.Title = "Borrar Empleado";
}

<h2>@ViewBag.Title</h2>

<h3>Está seguro de borrar este elemento?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DocumentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BornDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BornDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RetirementDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RetirementDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobilePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobilePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmergencyContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmergencyContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmergencyContactPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmergencyContactPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentCopy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentCopy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MilitaryIdCopy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MilitaryIdCopy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaborCertification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaborCertification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalReference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalReference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisciplinaryBackground)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisciplinaryBackground)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KnowledgeTest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KnowledgeTest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdmissionTest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdmissionTest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contract)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contract)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InternalRegulations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InternalRegulations)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndownmentLetter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndownmentLetter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CriticalPosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CriticalPosition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AFP.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AFP.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EPS.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EPS.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaritalStatus.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaritalStatus.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-danger" /> |
            @Html.ActionLink("Volver al listado", "Index", null, new { @class = "btn btn-info" })
        </div>
    }
</div>
