@model AppLogisticsModel.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DocumentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BornDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BornDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RetirementDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RetirementDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobilePhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobilePhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmergencyContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmergencyContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmergencyContactPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmergencyContactPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AFP.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AFP.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EPS.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EPS.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaritalStatus.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaritalStatus.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeDocuments.EmployeeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeDocuments.EmployeeId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
