@model IEnumerable<AppLogisticsModel.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DocumentNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BornDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HireDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RetirementDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MobilePhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmergencyContact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmergencyContactPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentCopy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MilitaryIdCopy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LaborCertification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonalReference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisciplinaryBackground)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KnowledgeTest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdmissionTest)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contract)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InternalRegulations)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndownmentLetter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CriticalPosition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AFP.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EPS.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaritalStatus.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BornDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HireDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RetirementDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MobilePhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmergencyContact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmergencyContactPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentCopy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Photos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MilitaryIdCopy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LaborCertification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonalReference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DisciplinaryBackground)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KnowledgeTest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdmissionTest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contract)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InternalRegulations)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndownmentLetter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CriticalPosition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AFP.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EPS.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaritalStatus.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
