@model AppLogisticsModel.EmployeeDocuments

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmployeeDocuments</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentCopy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentCopy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MilitaryIdCopy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MilitaryIdCopy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaborCertification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaborCertification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalReference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalReference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisciplinaryBackground)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisciplinaryBackground)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KnowledgeTest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KnowledgeTest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdmissionTest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdmissionTest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contract)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contract)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InternalRegulations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InternalRegulations)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndownmentLetter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndownmentLetter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CriticalPosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CriticalPosition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmployeeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
